---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main" style="padding-bottom: 3em;">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    <footer class="site-footer" style="color:#888; font-size: 0.85em; text-align: center; margin-top: 2em;">
      {% if page.permalink == "/" %}
      <div>
        Last updated on {{ site.time | date: "%Y-%m-%d" }}<br>
        © Xuteng ZHANG 2025. Theme forked from <a href="https://github.com/RayeRen/acad-homepage.github.io">AcadHomepage</a> [@https://github.com/RayeRen/acad-homepage.github.io].
      </div>
      {% endif %}
    </footer>

    {% include scripts.html %}

  </body>
</html>
